<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Joining Date</title>
	<style>
	table, th, td {
  	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	}
</style>
</head>
<body>
	<h1>Employee Joining Dates</h1>
	{% if information %}
		<table>
			<thead>
				<tr>
					<th>Joining Date</th>
					<th>Employees</th>
				</tr>
			</thead>
			<tbody>
				{% for date, employees in information.items() %}
					<tr>
						<td>{{ date }}</td>
						<td>{{ ", ".join(employees)  }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No employees found.</p>
	{% endif %}
</body>
</html>
